---
layout: layouts/base.njk
title: "Justin Shrake | Art"
eleventyNavigation:
  key: Art
  order: 1
---
<div class="art-grid">
{%- for item in art %}
  <a href="{{ item.link }}" class="art-grid-item">
    <img src="{{ item.image | url }}" alt="{{ item.title }}" loading="lazy">
  </a>
{%- endfor %}
</div>
